<header id="header">
  <div class="container block">
    <h1><a href="/">MelPress</a></h1>

    <nav id="menuTop">            
      <a id="menuBtn" class="fas fa-bars" href="#"><i class="fa fa-bars"></i></a>
      <ul>
          <li>
            <a href="#economy">economy</a>
          </li>
          <li>
              <a href="#technology">technology</a>
          </li>
          <li>
              <a href="#studies">lifestyle</a>
          </li>
          <li>
              <a href="#sports"><span>sports</span></a>
          </li>
      </ul>
    </nav>

    <nav id="menuSearch" class="float-right">
      <ul class="block">
        <li><a href="#search" class="float-right"><i class="fa fa-search"></i></a></li>
        <li><a href="#account" class="float-right"><i class="fa fa-user"></i></a></li>
      </ul>
    </nav>
  </div>
</header> 