@import '~styles/breakpoints';

header {
  background: $white;
  margin-bottom: $grid-gutter-width;

  a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
    font-family: $font-family-base;

    &:hover {
      color: lighten($link-color, 25%);
    }

    display: none;

    &.hamburger-icon {
      display: block;
      position: relative;
    }
    @include for-tablet-portrait {
      display: block;
      &.hamburger-icon {
        display: none;
      }
    }
    &.menu-active {
      color: $white;
    }
  }
}
