@import '~styles/breakpoints';

.post {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $grid-gutter-width;

  .post-col {
    position: relative;
    width: 100%;

    &.post-body {
      background: $white;
      order: 2;
      padding: ($grid-gutter-width / 2);
    }

    @include for-tablet-landscape {
      &.post-body {
        flex: 0 0 50%;
        max-width: 50%;
        order: 2;
      }
    } 
  }

  &.post-right {
    .post-body {order: 2;}

    @include for-tablet-landscape {
      .post-body {order: 1;}
    }
  }

  footer {
    font-size: $font-size-sm;
      
    .post-author-name {
      font-weight: 600;
    }
  }
}
